{# templates/sidebar/sidebar.html.twig #}

<section class="section">
    <header>
        <h3>{{ 'sidebar.announcements'|trans }}</h3>
    </header>
    <p class="announcements">

    </p>
</section>

<section class="section">
    <header>
        <h3>{{ 'sidebar.comments'|trans }}</h3>
    </header>
    {% for comment in comments %}
        <p>
            <time datetime="{{comment.created|date('c')|trans }}">{{ comment.created|date('l, F j, Y, G:i:s')|trans }}</time>
            {{ comment.author }}
            <br>
            {{ comment.comment }}
        </p>
    {% endfor %}
</section>