{% extends 'layout.html.twig' %}

{% block title %}{{ blog.title|striptags }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date">
                <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time>
            </div>
            {{ blog.title|raw }}
        </header>
        <div>
            {{ blog.blog|raw}}
            <hr>
            Tags: {{ blog.tags|raw }}
        </div>
    </article>
    
    {% if comments is defined %}
        {% for comment in comments %}
            <div class="comment">

            </div>
        {% endfor %}
    {% endif %}
{% endblock %}