{% extends 'layout.html.twig' %}

{% block title %}{{ blog.title|striptags }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date">
                <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time>
            </div>
            {{ blog.title|raw }}
        </header>
        <span id="blogbody">
            {{ blog.blog|raw}}
        </span>
        <hr>
        <span id="blogtags">
        Tags: {{ blog.tags|raw }}
        </span>
    </article>
    <hr>
    <div class="comment">
    {% if comments is defined %}

        {% for comment in comments %}
                <time datetime="{{comment.created|date('c') }}">{{ comment.created|date('l, F j, Y, G:i:s') }}</time>
                <h3>{{ comment.author|striptags }}</h3>
                <p>
                    {{ comment.comment|striptags }}
                </p>
        {% endfor %}

    {% endif %}
    </div>

    <hr>

    <form action="{{ path('showblog', {'pageid': pageid}) }}" method="POST" class="send">
        <h3>{{ 'comment.add'|trans }}</h3>
        {{ form_row(form.comment) }}
        <br>
        {{ form_rest(form) }}
        <input type="submit" class="send" value="{{ 'comment.send'|trans }}"/>
    </form>
{% endblock %}